@model IrcWebApplication.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

@section scripts {
    <script src="~/Scripts/apps/login.js"></script>
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })

        <div class="col-sm-2">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Channel, new { @class = "col-sm-2 control-label" })

        <div class="col-sm-2">
            @Html.TextBoxFor(model => model.Channel, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Channel)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Server, new { @class = "col-sm-2 control-label" })

        <div class="col-sm-2">
            @Html.TextBoxFor(model => model.Server, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Server)
        </div>
    </div>

    <div class="col-sm-2">
        <p class="pull-right show-more">Advanced<span class="caret"></span></p>
    </div>


    <div class="advanced-hide clear advanced">
        <div class="form-group">
            @Html.LabelFor(model => model.ChannelPassword, new { @class = "col-sm-2 control-label" })

            <div class="col-sm-2">
                @Html.PasswordFor(model => model.ChannelPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ChannelPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServerPassword, new { @class = "col-sm-2 control-label" })

            <div class="col-sm-2">
                @Html.PasswordFor(model => model.ServerPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServerPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Port, new { @class = "col-sm-2 control-label" })

            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.Port, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Port)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StayLogged, new { @class = "col-sm-2 control-label" })

            <div class="col-sm-2">
                @Html.CheckBoxFor(model => model.StayLogged)
            </div>
        </div>
    </div>

    <div>
        <input type="submit" class="btn btn-default" value="Login" />
    </div>
}

<p>Test server:</p>
<p>server: irc.kzfv.eu</p>
<p>port: 6668</p>
